<!DOCTYPE html>
<html>
{% load latexify %}
<head>
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    {% include "css_loads.html" %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Test System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><p class="nav-link">{{ user.username }}</p></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Выйти</a></li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-left: 0em; margin-right: 0em; max-width: none">
    <table class="table" style="margin: 1em">
        <tr>
            <th>ИИН</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Тест</th>
            <th>Дата прохождения</th>
            <th>Результат теста</th>
            <th>Результат задачи</th>
            <th>Итоговый результат</th>
            <th>Сертификат</th>
        </tr>
        {% for assignment in assignments %}
            <tr>
                <td>{{ assignment.person.iin }}</td>
                <td>{{ assignment.person.last_name }}</td>
                <td>{{ assignment.person.first_name }}</td>
                <td>{{ assignment.quiz_structure.name }}</td>
                {% if assignment.finished_date_time %}
                    <td>{{ assignment.finished_date_time }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>{{ assignment.score_percent }}</td>
                <td>
                    {% if assignment.finished_regression %}
                    {{ assignment.regression_result }}</td>
                    {% else %}
                        - </td>
                    {% endif %}
                <td>{{ assignment.total_score }}</td>
                <td>
                    {% if assignment.total_score >= 50 %}
                        {% if assignment.quiz_structure.issue_certificate %}
                    <img src="/static/img/certificate.png" width="24px" height="24px" onclick="
                            generateCertificate(
                            '{{ assignment.id }}',
                            this
                            )">
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="row" style="display: flex; flex-flow: column; margin: auto; margin-top: 2em">
{#        <img src="/media/{{ stats_file }}.png" width="300px">#}
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="addAssignment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить тест</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <select class="custom-select" name="quiz">
                        <option selected value="{{ default_value }}">{{ default_text }}</option>
                        {% for quiz_structure in quiz_structures %}
                            <option value="{{ quiz_structure.id }}">{{ quiz_structure.name }}</option>
                        {% endfor %}
                    </select>
                    <input class="form-control" type="text" name="iin" placeholder="ИИН" autofocus>
                    <input class="form-control" type="text" name="last_name" placeholder="Фамилия" >
                    <input class="form-control" type="text" name="first_name" placeholder="Имя" >
                    <input class="form-control" type="email" name="email" placeholder="Email" >
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="editAssignment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить данные</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <select class="custom-select" name="quiz" id="quiz" hidden>
                        <option value="-1"></option>
                        {% for quiz_structure in quiz_structures %}
                            <option value="{{ quiz_structure.id }}">{{ quiz_structure.name }}</option>
                        {% endfor %}
                    </select>
                    <input class="form-control" type="hidden" name="edit" id="edit" value="1">
                    <input class="form-control" type="hidden" name="iin" id="iin" placeholder="ИИН" >
                    <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Фамилия"
                           >
                    <input class="form-control" type="text" name="first_name" id="first_name" placeholder="Имя"
                           >
                    <input class="form-control" type="email" name="email" id="email" placeholder="Email" >
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="sending">
    <div class="modal" tabindex="-1" role="dialog" id="editAssignment">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Изменить данные</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="JavaScript">
    const editAss = (iin, last_name, first_name, structure_id, email) => {
        $('#editAssignment').modal('show');
        $('#iin').val(iin);
        $('#first_name').val(first_name);
        $('#last_name').val(last_name);
        $('#quiz').val(structure_id);
        $('#email').val(email);
    };
    const sleep = m => new Promise(r => setTimeout(r, m));
    const generateCertificate = async (id, image) => {
        image.src = "/static/img/sending.gif";
        let result = await fetch(`/generate_certificate/${id}`);
        await sleep(1000);
        let text = await result.text();
        if (text.includes(".pdf")) {
            window.open(text);
            image.src = "/static/img/certificate.png";
        } else {
            alert(text);
            image.src = "/static/img/certificate.png";
        }
    };

</script>

{% include "latexify/scripts.html" %}
</body>
</html>
