<!DOCTYPE html>
<html>
{% load latexify %}
<head>
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    {% include "css_loads_ydl.html" %}
</head>
<body>
<div class="container-fluid">
    <div class="modal-dialog" style="width: 100%; zoom: 0.8; max-width: 1024px">
        <div class="modal-content">
            <div class="modal-header" style="flex-flow: row-reverse;">
                <span style="text-align: right">Вопрос {{ question_number }} из {{ questions_total }}, время: <span id="time_left"></span></span>
            </div>
            <div class="modal-header" style="flex-flow: column">
                <div class="noselect" >
                {% for question_line in question_lines %}
                <div style="padding-left: {{ question_line.padding }}em; font-size: 2em">{% latexify question_line.text parse_math=True %}</div>
                {% endfor %}
                </div>
            </div>
            <div class="modal-body">
                <div class="col-xs-3 col-xs-offset-5">
                    <div id="loadbar" style="display: none;">
                        <div class="blockG" id="rotateG_01"></div>
                        <div class="blockG" id="rotateG_02"></div>
                        <div class="blockG" id="rotateG_03"></div>
                        <div class="blockG" id="rotateG_04"></div>
                        <div class="blockG" id="rotateG_05"></div>
                        <div class="blockG" id="rotateG_06"></div>
                        <div class="blockG" id="rotateG_07"></div>
                        <div class="blockG" id="rotateG_08"></div>
                    </div>
                </div>

                <div class="modal-footer text-muted">
                    <span id="answer">{{ course_name }}</span>
                </div>

                <div class="quiz" id="quiz" data-toggle="buttons">
                    <label class="element-animation1 btn btn-lg  btn-block" onclick="answer(1)"><span
                            class="btn-label"><i class="glyphicon glyphicon-chevron-right"
                    ></i></span>{% latexify answer1 parse_math=True %}</label>
                    <label class="element-animation2 btn btn-lg  btn-block" onclick="answer(2)"><span
                            class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i>
                    </span>{% latexify answer2 parse_math=True %}</label>
                    <label class="element-animation3 btn btn-lg  btn-block" onclick="answer(3)"><span
                            class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                        {% latexify answer3 parse_math=True %}
                    </label>
                    <label class="element-animation4 btn btn-lg btn-block" onclick="answer(4)"><span
                            class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                        {% latexify answer4 parse_math=True %}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">
    const answer = (chosen) => {
        console.log(chosen);
        fadeOut(document.getElementById("quiz"),500);
        fetch(`/reply/${chosen}`).then( () => {
            setTimeout(() => {
                window.location = "/";
            }, 1000);
        });
    };

    const showTime = async () => {
        result = await fetch("/time_left");
        document.getElementById("time_left").innerHTML = await result.text();
    };

    showTime();

    setInterval(async ()=> {
        showTime();
    }, 5000);

    function fadeIn(elem, ms) {
        if (!elem)
            return;

        elem.style.opacity = 0;
        elem.style.filter = "alpha(opacity=0)";
        elem.style.display = "inline-block";
        elem.style.visibility = "visible";

        if (ms) {
            var opacity = 0;
            var timer = setInterval(function () {
                opacity += 50 / ms;
                if (opacity >= 1) {
                    clearInterval(timer);
                    opacity = 1;
                }
                elem.style.opacity = opacity;
                elem.style.filter = "alpha(opacity=" + opacity * 100 + ")";
            }, 50);
        } else {
            elem.style.opacity = 1;
            elem.style.filter = "alpha(opacity=1)";
        }
    }

    function fadeOut(elem, ms) {
        if (!elem)
            return;

        if (ms) {
            var opacity = 1;
            var timer = setInterval(function () {
                opacity -= 50 / ms;
                if (opacity <= 0) {
                    clearInterval(timer);
                    opacity = 0;
                    elem.style.display = "none";
                    elem.style.visibility = "hidden";
                }
                elem.style.opacity = opacity;
                elem.style.filter = "alpha(opacity=" + opacity * 100 + ")";
            }, 50);
        } else {
            elem.style.opacity = 0;
            elem.style.filter = "alpha(opacity=0)";
            elem.style.display = "none";
            elem.style.visibility = "hidden";
        }
    }

</script>
{% include "latexify/scripts.html" %}
</body>
</html>