cycler==0.10.0
Django==2.2
django-latexify==0.2.1
gunicorn==19.9.0
kiwisolver==1.0.1
matplotlib==3.0.3
numpy==1.16.2
pandas==0.24.2
pdfrw==0.4
Pillow==6.0.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2018.9
reportlab==3.5.21
six==1.12.0
sqlparse==0.3.0
